<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>One Page Wonder - Start Bootstrap Template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script type=text/javascript src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    
    <script type=text/javascript>
        
        function getParameterByName(name, url) {
            if (!url) {
              url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        $(document).ready(function(){
          var query = getParameterByName('q');
          var taskList = [];
          var all = 0;

          function openTask(){
            //var fetchUrl;
            //if (!url){
              //  fetchUrl = '/api/tasks/{{my_task_category}}/{{id}}'
            //}else{
              //  fetchUrl = url
            //}
            //$.ajax({
              //  url: fetchUrl,
                //data: {
                //"q": query
                //},
                //method: "GET",
                //success: function(data){
                //taskList = data.items
                //parseTasks()
                //},
                //error: function(data){
                //console.log("error")
                //console.log(data)
                //}
            //})
            console.log('data')
          }

          
          function attachTask(taskKey, taskValue, prepend){
                  //var groups = taskValue.groups;
                  var key = taskKey;
                  var items = taskValue;
                  console.log(items)
                  var task_url = '/tasks/'+key
                  var taskHTMLFormat = "<li class=\"list-group-item\">"
                                        + "<a data-toggle=\"collapse\" href=\"" + "#"+items.id +"\" role=\"button\" aria-expanded=\"false\" aria-controls=\"collapseExample\">" + items.name + "</a>"
                                        + "</li>"
                                        + "<div class=\"collapse\" id="+ items.id +">"
                                        +    "<div class=\"card card-body\">"
                                        +        "<div class=\"modal-body\">"
                                        +                "<div class=\"alert alert-info text-justify\">"
                                        +                    "<h4 class=\"alert-heading\">" + items.group +"</h4>"
                                        +                    "<p>" + items.name + "</p>"
                                        +                    "<form action=\"/new_tasks/"+items.id+"/close\" method=\"POST\">"    
                                        +                    "<div class=\"form-group\">"
                                        +                    "<textarea class=\"form-control\" id=\"exampleFormControlTextarea1\"  placeholder=\"support answer\"name=\"answer\" rows=\"3\"></textarea>"
                                        +                    "</div>"    
                                        +                      "<button type=\"submit\" class=\"btn btn-primary\"><i class=\"fa fa-lock\"></i>  Resolve & Close Task</button>"
                                        +                    "</form>"
                                        +                "</div>"   
                                        +        "</div>"
                                        +    "</div>"
                                        +"</div>"
                  if(prepend ==true){
                    $("#accordion").prepend(taskHTMLFormat)
                  }else{
                    $("#accordion").append(taskHTMLFormat)
                  }
          }



          function parseTasks(){
            if (taskList == 0) {
              $("#task-container").text("No assigned task.")
            } else {
              // tasks exist, parse & display them
             $.each(JSON.parse(taskList), function(key, value){
                  var taskKey = key;
                  attachTask(key, value)
              })
            }
          }
        
          function fetchTasks(url){
            var fetchUrl;
            if (!url){
                fetchUrl = '/api/opened_tasks/{{my_task_category}}/{{id}}'
            }else{
                fetchUrl = url
            }
            $.ajax({
                url: fetchUrl,
                data: {
                "q": query
                },
                method: "GET",
                success: function(data){
                taskList = data.items
                parseTasks()
                },
                error: function(data){
                console.log("error")
                console.log(data)
                }
            })
          }
          fetchTasks()

          

        });
        
    </script>

    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container">
            <a class="navbar-brand" href="#">Ludaya</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle fa-2x" aria-hidden="true" ></i>{{name}}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Change Password</a>
                        <a class="dropdown-item" href="#">Edit Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('user.logout') }}">Logout</a>
                    </div>
                    </li>
                </ul>
            </div>
            </div>
        </nav>
    
        <header class="text-center" style="padding-top:100px;">
            <div class="masthead-content">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-sm-12" iv class="col-lg-12" style="padding-top:50px;padding-bottom:500px;">
                            <div class="card" style="background-color: rgba(245, 245, 245, 0.4);padding:10px; color:#212F3C">
                                <div class="card-block">
                                    <h3 class="card-title">Pending {{my_task_category}} tasks <span><i class="fa fa-exclamation-triangle"></i></span></h3>
                                            
                                    <div id="accordion">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>		
            </div>
        
        <!-- Footer -->
        <footer class="py-5 bg-black">
            <div class="container">
              <p class="m-0 text-center text-white small">Copyright &copy; Ludaya 2018 <a href="#">  Privacy policy</a> <i class="fab fa-facebook-f fa-2x"></i>  <i class="fab fa-twitter fa-2x"></i>
            </div>
            <!-- /.container -->
          </footer>
      
        </body>
      
      </html>
      