{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='new-age.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='simple-line-icons.css')}}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='mdb.min.css')}}"> -->
    <link rel="stylesheet" href="static/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="https://use.fontawesome.com/9869ee428f.js"></script>
    <script type=text/javascript src="{{url_for('static', filename='new-age.min.js') }}"></script>
    <script type=text/javascript src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    <!-- <script type=text/javascript src="{{url_for('static', filename='popper.min.js') }}"></script> -->
    <script type=text/javascript>
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
              labels: ["task completed", "remaining tasks"],
              datasets: [
                {
                  label: "Population (millions)",
                  backgroundColor: ["#3e95cd", "#8e5ea2"],
                  data: [4878,5267 - 4878]
                }
              ]
            },
            options: {
              title: {
                display: true,
                text: ''
              }
            }
        });

        document.getElementById('overallspecialistDataset').addEventListener('click', function() {
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                  labels: ["task completed", "remaining tasks"],
                  datasets: [
                    {
                      label: "Population (millions)",
                      backgroundColor: ["#3e95cd", "#8e5ea2"],
                      data: [4878,5267 - 4878]
                    }
                  ]
                },
                options: {
                  title: {
                    display: true,
                    text: ''
                  }
                }
            });
        });

        document.getElementById('computersupportspecialistDataset').addEventListener('click', function() {
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                  labels: ["task completed", "remaining tasks"],
                  datasets: [
                    {
                      label: "Population (millions)",
                      backgroundColor: ["#3e95cd", "#8e5ea2"],
                      data: [2878,5267 - 2878]
                    }
                  ]
                },
                options: {
                  title: {
                    display: true,
                    text: ''
                  }
                }
            });
        });

        document.getElementById('informationsystemsadministratorDataset').addEventListener('click', function() {
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                  labels: ["task completed", "remaining tasks"],
                  datasets: [
                    {
                      label: "Population (millions)",
                      backgroundColor: ["#3e95cd", "#8e5ea2"],
                      data: [2878,5267 - 2878]
                    }
                  ]
                },
                options: {
                  title: {
                    display: true,
                    text: ''
                  }
                }
            });
        });

        document.getElementById('networkadministratorsDataset').addEventListener('click', function() {
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                  labels: ["task completed", "remaining tasks"],
                  datasets: [
                    {
                      label: "Population (millions)",
                      backgroundColor: ["#3e95cd", "#8e5ea2"],
                      data: [2878,5267 - 2878]
                    }
                  ]
                },
                options: {
                  title: {
                    display: true,
                    text: ''
                  }
                }
            });
        });

        document.getElementById('systemssoftwaredeveloperDataset').addEventListener('click', function() {
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                  labels: ["task completed", "remaining tasks"],
                  datasets: [
                    {
                      label: "Population (millions)",
                      backgroundColor: ["#3e95cd", "#8e5ea2"],
                      data: [2878,5267 - 2878]
                    }
                  ]
                },
                options: {
                  title: {
                    display: true,
                    text: ''
                  }
                }
            });
        });

        document.getElementById('databaseadministratorDataset').addEventListener('click', function() {
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                  labels: ["task completed", "remaining tasks"],
                  datasets: [
                    {
                      label: "Population (millions)",
                      backgroundColor: ["#3e95cd", "#8e5ea2"],
                      data: [2878,5267 - 2878]
                    }
                  ]
                },
                options: {
                  title: {
                    display: true,
                    text: ''
                  }
                }
            });
        });

    </script>
{% endblock %}

{% block title %}Ludaya{% endblock %}
<body id="page-top">
{% block content %}
    <header class="" style="background-color:#7b4397;background:url(../img/bg-pattern.png),linear-gradient(to left,#7b4397,#dc2430)">    
        <nav class="navbar  navbar-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Ludaya</a>
                </div>
                <ul class="nav navbar-nav">
                    <!-- <li class="active"><a href="#">Home</a></li> -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a onclick="openNav()"><span class="glyphicon glyphicon-menu-hamburger"></span>Menu</a>
                    </li>
                    <li>
                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span class="glyphicon glyphicon-user"></span> User</a>
                            <div class="dropdown-menu">
                                <div style="font-size:36px;color:gold;padding:10px;">
                                    <i class="fa fa-user-circle fa-5x" aria-hidden="true" ></i>
                                </div>
                                <a class="dropdown-item" href="#" style="padding:10px;">Action</a></br>
                                <a class="dropdown-item" href="#" style="padding:10px;">Another action</a></br>
                                <a class="dropdown-item" href="#" style="padding:10px;">Something else here</a></br>
                                <div class="dropdown-divider"></div>
                                <a href="#" style="padding:10px;"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                            </div>
                    </li>
                </ul>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </nav>
    </header>

    <section class="features" id="features" style="margin-top:-120px;">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>
        <div id="main">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card" style="background-color: rgba(245, 245, 245, 0.4);padding:10px;">
                        <div class="card-block">
                            <h3 class="card-title">Pending Tasks</h3>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="#">Computer Support Specialist</a><span class="badge">5</span></li>
                                <li class="list-group-item"><a href="#">Information Systems Administrator</a><span class="badge">5</span></li>
                                <li class="list-group-item"><a href="#">Network Administrators</a><span class="badge">5</span></li>
                                <li class="list-group-item"><a href="#">Systems Software Developer</a><span class="badge">5</span></li>
                                <li class="list-group-item"><a href="#">Database Administrator</a><span class="badge">5</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" style="background-color: rgba(245, 245, 245, 0.4);padding:10px;">
                        <div class="card-block">
                            <h3 class="card-title">Output Summary</h3>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="#">Daily Summary</a></li>
                                <li class="list-group-item"><a href="#">Weekly Summary</a></li>
                                <li class="list-group-item"><a href="#">Monthly Summary</a></li>
                                <li class="list-group-item"><a href="#">Yearly Summary</a></li>
                                <li class="list-group-item"><a href="#">Overall Summary</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card" style="background-color: rgba(245, 245, 245, 0.4);padding:10px;">
                <div class="card-block">
                    <h3 class="card-title" align="center">Task Completion</h3>
                    <div class="row">
                        <div class="col-sm-4" style="padding-top:60px;">
                                <p><button type="button" class="btn btn-primary btn-sm" id="overallspecialistDataset">Overall Specialist</button> 
                            <p><button type="button" class="btn btn-primary btn-sm" id="computersupportspecialistDataset">Computer Support Specialist</button>
                            <p><button type="button" class="btn btn-primary btn-sm" id="informationsystemsadministratorDataset">Information Systems Administrator</button>
                            <p><button type="button" class="btn btn-primary btn-sm" id="networkadministratorsDataset">Network Administrators</button>
                            <p><button type="button" class="btn btn-primary btn-sm" id="systemssoftwaredeveloperDataset">Systems Software Developer</button>
                            <p><button type="button" class="btn btn-primary btn-sm" id="databaseadministratorDataset">Database Administrator</button>
                        </div>
                        <div class="col-sm-8" align="center">
                            <div id="canvas-holder" style="width:60%">
                                <canvas id="myChart" width="600" height="600"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        

{% endblock %}
