{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='new-age.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='simple-line-icons.css')}}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='mdb.min.css')}}"> -->
    <link rel="stylesheet" href="static/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="https://use.fontawesome.com/9869ee428f.js"></script>
    <script type=text/javascript src="{{url_for('static', filename='new-age.min.js') }}"></script>
    <script type=text/javascript src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    <!-- <script type=text/javascript src="{{url_for('static', filename='popper.min.js') }}"></script> -->
    <script type=text/javascript>
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
              labels: ["task completed", "remaining tasks"],
              datasets: [
                {
                  label: "Population (millions)",
                  backgroundColor: ["#3e95cd", "#8e5ea2"],
                  data: [4878,5267 - 4878]
                }
              ]
            },
            options: {
              title: {
                display: true,
                text: ''
              }
            }
        });

        document.getElementById('overallspecialistDataset').addEventListener('click', function() {
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                  labels: ["task completed", "remaining tasks"],
                  datasets: [
                    {
                      label: "Population (millions)",
                      backgroundColor: ["#3e95cd", "#8e5ea2"],
                      data: [4878,5267 - 4878]
                    }
                  ]
                },
                options: {
                  title: {
                    display: true,
                    text: ''
                  }
                }
            });
        });

        document.getElementById('maintainancelistDataset').addEventListener('click', function() {
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                  labels: ["task completed", "remaining tasks"],
                  datasets: [
                    {
                      label: "Population (millions)",
                      backgroundColor: ["#3e95cd", "#8e5ea2"],
                      data: [{{my_maintainance}},{{all_maintainance}} - {{my_maintainance}}]
                    }
                  ]
                },
                options: {
                  title: {
                    display: true,
                    text: ''
                  }
                }
            });
        });

        document.getElementById('networkinglistDataset').addEventListener('click', function() {
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                  labels: ["task completed", "remaining tasks"],
                  datasets: [
                    {
                      label: "Population (millions)",
                      backgroundColor: ["#3e95cd", "#8e5ea2"],
                      data: [{{my_networking}},{{all_networking}} - {{my_networking}}]
                    }
                  ]
                },
                options: {
                  title: {
                    display: true,
                    text: ''
                  }
                }
            });
        });

        document.getElementById('windowslistDataset').addEventListener('click', function() {
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                  labels: ["task completed", "remaining tasks"],
                  datasets: [
                    {
                      label: "Population (millions)",
                      backgroundColor: ["#3e95cd", "#8e5ea2"],
                      data: [{{my_windows}},{{all_windows}} - {{my_windows}}]
                    }
                  ]
                },
                options: {
                  title: {
                    display: true,
                    text: ''
                  }
                }
            });
        });

        document.getElementById('communicationlistDataset').addEventListener('click', function() {
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                  labels: ["task completed", "remaining tasks"],
                  datasets: [
                    {
                      label: "Population (millions)",
                      backgroundColor: ["#3e95cd", "#8e5ea2"],
                      data: [{{my_communication}},{{all_communcation}} - {{my_communication}}]
                    }
                  ]
                },
                options: {
                  title: {
                    display: true,
                    text: ''
                  }
                }
            });
        });

        document.getElementById('supportlistDataset').addEventListener('click', function() {
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                  labels: ["task completed", "remaining tasks"],
                  datasets: [
                    {
                      label: "Population (millions)",
                      backgroundColor: ["#3e95cd", "#8e5ea2"],
                      data: [{{my_support}},{{all_support}} - {{my_support}}]
                    }
                  ]
                },
                options: {
                  title: {
                    display: true,
                    text: ''
                  }
                }
            });
        });

        document.getElementById('electronicslistDataset').addEventListener('click', function() {
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                  labels: ["task completed", "remaining tasks"],
                  datasets: [
                    {
                      label: "Population (millions)",
                      backgroundColor: ["#3e95cd", "#8e5ea2"],
                      data: [{{my_electronics}},{{all_electronics}} - {{my_electronics}}]
                    }
                  ]
                },
                options: {
                  title: {
                    display: true,
                    text: ''
                  }
                }
            });
        });

        document.getElementById('serverlistDataset').addEventListener('click', function() {
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                  labels: ["task completed", "remaining tasks"],
                  datasets: [
                    {
                      label: "Population (millions)",
                      backgroundColor: ["#3e95cd", "#8e5ea2"],
                      data: [{{my_server}},{{all_server}} - {{my_server}}]
                    }
                  ]
                },
                options: {
                  title: {
                    display: true,
                    text: ''
                  }
                }
            });
        });

        document.getElementById('hardwarelistDataset').addEventListener('click', function() {
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                  labels: ["task completed", "remaining tasks"],
                  datasets: [
                    {
                      label: "Population (millions)",
                      backgroundColor: ["#3e95cd", "#8e5ea2"],
                      data: [{{my_hardware}},{{all_hardware}} - {{my_hardware}}]
                    }
                  ]
                },
                options: {
                  title: {
                    display: true,
                    text: ''
                  }
                }
            });
        });

        document.getElementById('unixlistDataset').addEventListener('click', function() {
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                  labels: ["task completed", "remaining tasks"],
                  datasets: [
                    {
                      label: "Population (millions)",
                      backgroundColor: ["#3e95cd", "#8e5ea2"],
                      data: [{{my_unix}},{{all_unix}} - {{my_unix}}]
                    }
                  ]
                },
                options: {
                  title: {
                    display: true,
                    text: ''
                  }
                }
            });
        });

        document.getElementById('learninglistDataset').addEventListener('click', function() {
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                  labels: ["task completed", "remaining tasks"],
                  datasets: [
                    {
                      label: "Population (millions)",
                      backgroundColor: ["#3e95cd", "#8e5ea2"],
                      data: [{{my_learning}},{{all_learning}} - {{my_learning}}]
                    }
                  ]
                },
                options: {
                  title: {
                    display: true,
                    text: ''
                  }
                }
            });
        });

        document.getElementById('securitylistDataset').addEventListener('click', function() {
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                  labels: ["task completed", "remaining tasks"],
                  datasets: [
                    {
                      label: "Population (millions)",
                      backgroundColor: ["#3e95cd", "#8e5ea2"],
                      data: [{{my_security}},{{all_security}} - {{my_security}}]
                    }
                  ]
                },
                options: {
                  title: {
                    display: true,
                    text: ''
                  }
                }
            });
        });


    </script>
{% endblock %}

{% block title %}Ludaya{% endblock %}
<body id="page-top">
{% block content %}
    <header class="" style="background-color:#7b4397;background:url(../img/bg-pattern.png),linear-gradient(to left,#7b4397,#dc2430)">    
        <nav class="navbar  navbar-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Ludaya</a>
                </div>
                <ul class="nav navbar-nav">
                    <!-- <li class="active"><a href="#">Home</a></li> -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a onclick="openNav()"><span class="glyphicon glyphicon-menu-hamburger"></span>Menu</a>
                    </li>
                    <li>
                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span class="glyphicon glyphicon-user"></span> User</a>
                            <div class="dropdown-menu">
                                <div style="font-size:36px;color:gold;padding:10px;">
                                    <i class="fa fa-user-circle fa-5x" aria-hidden="true" ></i>
                                </div>
                                <a class="dropdown-item" href="#" style="padding:10px;">Action</a></br>
                                <a class="dropdown-item" href="#" style="padding:10px;">Another action</a></br>
                                <a class="dropdown-item" href="#" style="padding:10px;">Something else here</a></br>
                                <div class="dropdown-divider"></div>
                                <a href="#" style="padding:10px;"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                            </div>
                    </li>
                </ul>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </nav>
    </header>

    <section class="features" id="features" style="margin-top:-120px;">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Previous tasks</a>
            <a href="#">Current Tasks</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>
        <div id="main">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card" style="background-color: rgba(245, 245, 245, 0.4);padding:10px;">
                        <div class="card-block">
                            <h3 class="card-title">Pending Tasks</h3>
                            <ul class="list-group">
                                {% for group, count in groups.items() %}
                                    <li class="list-group-item"><a href="{{url_for('tasks', category=group)}}">{{group}}</a><span class="badge">{{count}}</span></li>
                                {% endfor %}                           
                             </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" style="background-color: rgba(245, 245, 245, 0.4);padding:10px;">
                        <div class="card-block">
                            <h3 class="card-title">Output Summary</h3>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="#">Daily Summary</a></li>
                                <li class="list-group-item"><a href="#">Weekly Summary</a></li>
                                <li class="list-group-item"><a href="#">Monthly Summary</a></li>
                                <li class="list-group-item"><a href="#">Yearly Summary</a></li>
                                <li class="list-group-item"><a href="#">Overall Summary</a></li>
                            </ul>
                        </div>
                    </div>
                    </br>
                    <div class="card" style="background-color: rgba(245, 245, 245, 0.4);padding:10px;">
                        <div class="card-block">
                            <h3 class="card-title">Latest Articles</h3>
                            <ul class="list-group">
                                <li class="list-group-item">
                                  <a href="#">Daily Summary</a>
                                  <p>test</p>
                                </li>
                                <li class="list-group-item"><a href="#">Weekly Summary</a>
                                  <p>test</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card" style="background-color: rgba(245, 245, 245, 0.4);padding:10px;">
                <div class="card-block">
                    <h3 class="card-title" align="center">Task Completion</h3>
                    <div class="row">
                        <div class="col-sm-4" style="padding-top:60px;">
                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-primary btn-md" id="overallspecialistDataset">Overall Tasks</button> 
                                <button type="button" class="btn btn-primary btn-md" id="maintainancelistDataset">maintainance</button>
                                <button type="button" class="btn btn-primary btn-md" id="networkinglistDataset">networking</button>
                                <button type="button" class="btn btn-primary btn-md" id="windowslistDataset">windows</button>
                                <button type="button" class="btn btn-primary btn-md" id="communicationlistDataset">communication</button>
                                <button type="button" class="btn btn-primary btn-md" id="supportlistDataset">support</button>
                                <button type="button" class="btn btn-primary btn-md" id="electronicslistDataset">electonics</button>
                                <button type="button" class="btn btn-primary btn-md" id="serverlistDataset">server</button>
                                <button type="button" class="btn btn-primary btn-md" id="hardwarelistDataset">hardware</button>
                                <button type="button" class="btn btn-primary btn-md" id="unixlistDataset">unix</button>
                                <button type="button" class="btn btn-primary btn-md" id="learninglistDataset">learning</button>
                                <button type="button" class="btn btn-primary btn-md" id="overallspecialistDataset">security</button>
                            </div>
                        </div>
                        <div class="col-sm-8" align="center">
                            <div id="canvas-holder" style="width:60%">
                                <canvas id="myChart" width="600" height="600"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2017 Start Bootstrap. All Rights Reserved.</p>
            <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#">Privacy</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Terms</a>
            </li>
            <li class="list-inline-item">
                <a href="#">FAQ</a>
            </li>
            </ul>
        </div>
    </footer>
        

{% endblock %}
