{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='new-age.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='simple-line-icons.css')}}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='mdb.min.css')}}"> -->
    <link rel="stylesheet" href="static/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="https://use.fontawesome.com/9869ee428f.js"></script>
    <script type=text/javascript src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    <!-- <script type=text/javascript src="{{url_for('static', filename='popper.min.js') }}"></script> -->
    <script type=text/javascript>
        
        function getParameterByName(name, url) {
            if (!url) {
              url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        $(document).ready(function(){
          var query = getParameterByName('q');
          var taskList = [];
          var taskOpenedList = [];
          var all = 0;
          
          function attachTask(taskKey, taskValue, prepend){
                  //var groups = taskValue.groups;
                  var key = taskKey;
                  var items = taskValue;
                  var task_url = '/tasks/'+key
                  var taskHTMLFormat = "<li class=\"list-group-item\"><a href="+task_url+">"+ key + "</a>" + "<span class=\"badge\">"+ items +"</span>"+"</li>"
                  if(prepend ==true){
                    $("#task-list").prepend(taskHTMLFormat)
                  }else{
                    $("#task-list").append(taskHTMLFormat)
                  }
          }

          function parseTasks(){
            if (taskList == 0) {
              $("#task-container").text("No assigned task.")
            } else {
              // tasks exist, parse & display them
             $.each(JSON.parse(taskList), function(key, value){
                  var taskKey = key;
                  attachTask(key, value)
              })
            }
          }
        
          function fetchTasks(url){
            var fetchUrl;
            if (!url){
                fetchUrl = "/api/issues/"+{{id}}
            }else{
                fetchUrl = url
            }
            $.ajax({
                url: fetchUrl,
                data: {
                "q": query
                },
                method: "GET",
                success: function(data){
                taskList = data.groups
                parseTasks()
                },
                error: function(data){
                console.log("error")
                console.log(data)
                }
            })
          }
          fetchTasks()


          function attachOpenedTask(taskKey, taskValue, prepend){
                //var groups = taskValue.groups;
                var key = taskKey;
                var items = taskValue;
                var task_url = '/tasks/'+key
                var taskHTMLFormat = "<li class=\"list-group-item\"><a href="+task_url+">"+ key + "</a>" + "<span class=\"badge\">"+ items +"</span>"+"</li>"
                if(prepend ==true){
                $("#opened-task-list").prepend(taskHTMLFormat)
                }else{
                $("#opened-task-list").append(taskHTMLFormat)
                }
            }

            function parseOpenedTasks(){
                if (taskOpenedList == 0) {
                $("#opened-task-list").text("No assigned task.")
                } else {
                // tasks exist, parse & display them
                $.each(JSON.parse(taskOpenedList), function(key, value){
                    var taskKey = key;
                    attachOpenedTask(key, value)
                })
                }
            }

            function fetchOpenedTasks(url){
                var fetchUrl;
                if (!url){
                    fetchUrl = "/api/opened_issues/"+{{id}}
                }else{
                    fetchUrl = url
                }
                $.ajax({
                url: fetchUrl,
                data: {
                "q": query
                },
                method: "GET",
                success: function(data){
                taskOpenedList = data.groups
                parseOpenedTasks()
                },
                error: function(data){
                console.log("error")
                console.log(data)
                }
                })
            }
            fetchOpenedTasks()

          var allData = function(url) {
            var myVar = 0
            
            fetchUrl = $.getJSON(url)
            fetchUrl.then(function(data, textStatus, jqxhr) {
                $("#all").val(jqxhr.responseJSON.all);
                $("#completed").val(jqxhr.responseJSON.completed);
                var ctx = document.getElementById("myChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                    labels: ["task completed", "remaining tasks"],
                    datasets: [
                        {
                        label: "Population (millions)",
                        backgroundColor: ["#3e95cd", "#8e5ea2"],
                        data: [
                            jqxhr.responseJSON.all,
                            jqxhr.responseJSON.completed
                            ]
                        }
                    ]
                    },
                    options: {
                    title: {
                        display: true,
                        text: ''
                    }
                    }
                });
              })
            };
            allData("/api/issues/maintainance/"+{{id}})

            document.getElementById('overallspecialistDataset').addEventListener('click', function() {
                return allData("/api/issues/maintainance/"+{{id}})
            });

            document.getElementById('maintainancelistDataset').addEventListener('click', function() {
                return allData("/api/issues/maintainance/"+{{id}})
            });

            document.getElementById('networkinglistDataset').addEventListener('click', function() {
                return allData("/api/issues/networking/"+{{id}})
            });

            document.getElementById('windowslistDataset').addEventListener('click', function() {
                return allData("/api/issues/windows/"+{{id}})
            });

            document.getElementById('communicationlistDataset').addEventListener('click', function() {
                return allData("/api/issues/communication/"+{{id}})
            });

            document.getElementById('supportlistDataset').addEventListener('click', function() {
                return allData("/api/issues/support/"+{{id}})
            });

            document.getElementById('electronicslistDataset').addEventListener('click', function() {
                return allData("/api/issues/electronics/"+{{id}})
            });

            document.getElementById('hardwarelistDataset').addEventListener('click', function() {
                return allData("/api/issues/hardware/"+{{id}})
            });

            document.getElementById('unixlistDataset').addEventListener('click', function() {
                return allData("/api/issues/unix/"+{{id}})
            });

            document.getElementById('serverlistDataset').addEventListener('click', function() {
                return allData("/api/issues/server/"+{{id}})
            });

        });

        
    </script>
{% endblock %}

{% block title %}Ludaya{% endblock %}
<body id="page-top">
{% block content %}
    <header class="" style="background-color:#7b4397;background:url(../img/bg-pattern.png),linear-gradient(to left,#7b4397,#dc2430)">    
        <nav class="navbar  navbar-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Ludaya</a>
                </div>
                <ul class="nav navbar-nav">
                    <!-- <li class="active"><a href="#">Home</a></li> -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a onclick="openNav()"><span class="glyphicon glyphicon-menu-hamburger"></span>Menu</a>
                    </li>
                    <li>
                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span class="glyphicon glyphicon-user"></span> User</a>
                            <div class="dropdown-menu">
                                <div style="font-size:36px;color:gold;padding:10px;">
                                    <i class="fa fa-user-circle fa-5x" aria-hidden="true" ></i>
                                </div>
                                <a class="dropdown-item" href="#" style="padding:10px;">Action</a></br>
                                <a class="dropdown-item" href="#" style="padding:10px;">Another action</a></br>
                                <a class="dropdown-item" href="#" style="padding:10px;">Something else here</a></br>
                                <div class="dropdown-divider"></div>
                                <a href="{{ url_for('logout') }}" style="padding:10px;"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                            </div>
                    </li>
                </ul>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </nav>
    </header>

    <section class="features" id="features" style="margin-top:-120px;">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Previous tasks</a>
            <a href="#">Current Tasks</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>
        <div id="main">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card" style="background-color: rgba(245, 245, 245, 0.4);padding:10px;">
                        <div class="card-block">
                            <h3 class="card-title">Pending Tasks</h3>
                            <ul class="list-group" id="task-list">
                                                          
                             </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">

                    <div class="card" style="background-color: rgba(245, 245, 245, 0.4);padding:10px;">
                        <div class="card-block">
                            <h3 class="card-title">Opened Tasks</h3>
                            <ul class="list-group" id="opened-task-list">
                            </ul>
                        </div>
                    </div>                    
                </br>
                    <div class="card" style="background-color: rgba(245, 245, 245, 0.4);padding:10px;">
                        <div class="card-block">
                            <h3 class="card-title">Reports</h3>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="{{url_for('reports')}}">Output Summary</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card" style="background-color: rgba(245, 245, 245, 0.4);padding:10px;">
                <div class="card-block">
                    <h3 class="card-title" align="center">Task Completion</h3>
                    <div class="row">
                        <div class="col-sm-4" style="padding-top:60px;">
                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-primary btn-md" id="maintainancelistDataset">maintainance</button>
                                <button type="button" class="btn btn-primary btn-md" id="networkinglistDataset">networking</button>
                                <button type="button" class="btn btn-primary btn-md" id="windowslistDataset">windows</button>
                                <button type="button" class="btn btn-primary btn-md" id="communicationlistDataset">communication</button>
                                <button type="button" class="btn btn-primary btn-md" id="supportlistDataset">support</button>
                                <button type="button" class="btn btn-primary btn-md" id="electronicslistDataset">electonics</button>
                                <button type="button" class="btn btn-primary btn-md" id="serverlistDataset">server</button>
                                <button type="button" class="btn btn-primary btn-md" id="hardwarelistDataset">hardware</button>
                                <button type="button" class="btn btn-primary btn-md" id="unixlistDataset">unix</button>
                                <button type="button" class="btn btn-primary btn-md" id="overallspecialistDataset">security</button>
                            </div>
                        </div>
                        <div class="col-sm-8" align="center">
                            <div id="canvas-holder" style="width:60%">
                                <canvas id="myChart" width="600" height="600"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="container">
            <p>&copy; 2017 Start Bootstrap. All Rights Reserved.</p>
            <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#">Privacy</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Terms</a>
            </li>
            <li class="list-inline-item">
                <a href="#">FAQ</a>
            </li>
            </ul>
        </div>
    </footer>
        

{% endblock %}






function fetchOpenedTasks(url){
    var fetchUrl;
    if (!url){
        fetchUrl = "/api/issues/"+{{id}}
    }else{
        fetchUrl = url
    }
    $.ajax({
    url: fetchUrl,
    data: {
    "q": query
    },
    method: "GET",
    success: function(data){
    taskList = data.groups
    parseTasks()
    },
    error: function(data){
    console.log("error")
    console.log(data)
    }
    })
}
fetchOpenedTasks()

};