<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ludaya</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename = 'img/icon.jpg') }}"/>

    <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='loader.css')}}">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="{{ url_for('.static', filename='js/loader.js') }}"></script>
    <script type=text/javascript src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    <!-- <script type=text/javascript src="{{url_for('static', filename='popper.min.js') }}"></script> -->
    <script type=text/javascript>
      $(document).ready(function(){
        
        taskList = []
        function fetchTask(){
          $.ajax({
          'url': "/api/resolved_reports/"+{{id}},
          'success': function(json) {
            var lastsixmonths = JSON.parse("[" + json.lastsixmonths + "]");
            var electronics = JSON.parse("[" + json.electronics + "]");
            var hardware = JSON.parse("[" + json.hardware + "]");
            var mac = JSON.parse("[" + json.mac + "]");
            var maintainance = JSON.parse("[" + json.maintainance + "]");
            var networking = JSON.parse("[" + json.networking + "]");
            var security = JSON.parse("[" + json.security + "]");
            var server = JSON.parse("[" + json.server + "]");
            var support = JSON.parse("[" + json.support + "]");
            var unix = JSON.parse("[" + json.unix + "]");
            var windows = JSON.parse("[" + json.windows + "]");
            console.log(lastsixmonths)
          var d = [lastsixmonths, maintainance, networking, windows, support, electronics, server, hardware, unix]
          var e = [maintainance[0], networking[0], windows[0], support[0], electronics[0], server[0], hardware[0], unix[0]]
            newChart(lastsixmonths[0], maintainance[0], networking[0], windows[0], support[0], electronics[0], server[0], hardware[0], unix[0])
          }
        });
        }

        function newChart(l,a,b,c,d,e,f,g,h){
          new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
              labels: l,
                datasets: [{ 
                  data: a,
                  label: "maintainance",
                  borderColor: "#3e95cd",
                  fill: false
                }, { 
                  data: b,
                  label: "networking",
                  borderColor: "#8e5ea2",
                  fill: false
                }, { 
                  data: c,
                  label: "windows",
                  borderColor: "#3cba9f",
                  fill: false
                }, { 
                  data: d,
                  label: "support",
                  borderColor: "#F1C40F",
                  fill: false
                }, { 
                    data: e,
                    label: "electonics",
                    borderColor: "#34495E",
                    fill: false
                }, { 
                    data: f,
                    label: "server",
                    borderColor: "#6E2C00",
                    fill: false
                }, { 
                    data: g,
                    label: "hardware",
                    borderColor: "#1B4F72",
                    fill: false
                }, { 
                    data: h,
                    label: "unix",
                    borderColor: "#c45850",
                    fill: false
                    }
                ]
              },
            options: {
              title: {
                display: true,
                text: 'Resolution Count'
              }
            }
          });
        }
        fetchTask()

        function fetchResponse(){
          $.ajax({
          'url': "/api/opened_reports/"+{{id}},
          'success': function(json) {
            var lastsixmonths = JSON.parse("[" + json.lastsixmonths + "]");
            var electronics = JSON.parse("[" + json.electronics + "]");
            var hardware = JSON.parse("[" + json.hardware + "]");
            var mac = JSON.parse("[" + json.mac + "]");
            var maintainance = JSON.parse("[" + json.maintainance + "]");
            var networking = JSON.parse("[" + json.networking + "]");
            var security = JSON.parse("[" + json.security + "]");
            var server = JSON.parse("[" + json.server + "]");
            var support = JSON.parse("[" + json.support + "]");
            var unix = JSON.parse("[" + json.unix + "]");
            var windows = JSON.parse("[" + json.windows + "]");
            var d = [lastsixmonths, maintainance, networking, windows, support, electronics, server, hardware, unix]
            var e = [maintainance[0], networking[0], windows[0], support[0], electronics[0], server[0], hardware[0], unix[0]]
            responseChart(lastsixmonths[0], maintainance[0], networking[0], windows[0], support[0], electronics[0], server[0], hardware[0], unix[0])
          }
        });
        }

        function responseChart(l,a,b,c,d,e,f,g,h){
          new Chart(document.getElementById("response-time-line-chart"), {
            type: 'line',
            data: {
              labels: l,
              datasets: [{ 
                data: a,
                label: "maintainance",
                borderColor: "#3e95cd",
                fill: false
              }, { 
                data: b,
                label: "networking",
                borderColor: "#8e5ea2",
                fill: false
              }, { 
                data: c,
                label: "windows",
                borderColor: "#3cba9f",
                fill: false
              }, { 
                data: d,
                label: "support",
                borderColor: "#F1C40F",
                fill: false
              }, { 
                  data: e,
                  label: "electonics",
                  borderColor: "#34495E",
                  fill: false
                }, { 
                  data: f,
                  label: "server",
                  borderColor: "#6E2C00",
                  fill: false
                }, { 
                  data: g,
                  label: "hardware",
                  borderColor: "#1B4F72",
                  fill: false
                }, { 
                  data: h,
                  label: "unix",
                  borderColor: "#c45850",
                  fill: false
                  }
              ]
            },
          options: {
            title: {
              display: true,
                text: 'Response Count'
              }
            }
          });
        }
        
        fetchResponse()

        function fetchOutputTask(){
          $.ajax({
          'url': "/api/satisfaction_reports/"+{{id}},
          'success': function(json) {
            var lastsixmonths = JSON.parse("[" + json.lastsixmonths + "]");
            var electronics = JSON.parse("[" + json.electronics + "]");
            var hardware = JSON.parse("[" + json.hardware + "]");
            var mac = JSON.parse("[" + json.mac + "]");
            var maintainance = JSON.parse("[" + json.maintainance + "]");
            var networking = JSON.parse("[" + json.networking + "]");
            var security = JSON.parse("[" + json.security + "]");
            var server = JSON.parse("[" + json.server + "]");
            var support = JSON.parse("[" + json.support + "]");
            var unix = JSON.parse("[" + json.unix + "]");
            var windows = JSON.parse("[" + json.windows + "]");
            var d = [lastsixmonths, maintainance, networking, windows, support, electronics, server, hardware, unix]
            var e = [maintainance[0], networking[0], windows[0], support[0], electronics[0], server[0], hardware[0], unix[0]]
            outputChart(lastsixmonths[0], maintainance[0], networking[0], windows[0], support[0], electronics[0], server[0], hardware[0], unix[0])
          }
        });
        }

        function outputChart(l,a,b,c,d,e,f,g,h){
          new Chart(document.getElementById("output-quality-line-chart"), {
            type: 'line',
            data: {
              labels: l,
              datasets: [{ 
                data: a,
                label: "maintainance",
                borderColor: "#3e95cd",
                fill: false
              }, { 
                data: b,
                label: "networking",
                borderColor: "#8e5ea2",
                fill: false
              }, { 
                data: c,
                label: "windows",
                borderColor: "#3cba9f",
                fill: false
              }, { 
                data: d,
                label: "support",
                borderColor: "#F1C40F",
                fill: false
              }, { 
                  data: e,
                  label: "electonics",
                  borderColor: "#34495E",
                  fill: false
                }, { 
                  data: f,
                  label: "server",
                  borderColor: "#6E2C00",
                  fill: false
                }, { 
                  data: g,
                  label: "hardware",
                  borderColor: "#1B4F72",
                  fill: false
                }, { 
                  data: h,
                  label: "unix",
                  borderColor: "#c45850",
                  fill: false
                  }
                ]
              },
            options: {
              title: {
                display: true,
                text: 'Output Quality'
              }
            }
          });
        }
        fetchOutputTask()
        

        function fetchBarSatisfaction(){
          $.ajax({
          'url': "/api/user_satisfaction_reports/"+{{id}},
          'success': function(json) {
            var array = JSON.parse("[" + json.user_satisfactionavarage + "]")[0];
            barChartSatisfaction(array[0], array[0], array[0], array[0], array[0], array[0], array[0], array[0], array[0])
          }
        });
        }
        function barChartSatisfaction(a,b,c,d,e,f,g,h,i){
          new Chart(document.getElementById("bar-chart-horizontal"), {
            type: 'horizontalBar',
            data: {
              labels: ["maintainance", "networking", "windows", "support", "electonics", "server", "hardware", "unix", "security"],
              datasets: [
                {
                  label: "Scale (out of 1.0)",
                  backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#c45850","#c45850","#c45850","#c45850","#c45850"],
                  data: [a,b,c,d,e,f,g,h,i]
                }
              ]
            },
            options: {
              legend: { display: false },
              title: {
                display: true,
                text: 'Avarage Client Satisfaction'
              }
            }
        });
        }
        fetchBarSatisfaction()
        
      
        function fetchBarResponse(){
          $.ajax({
          'url': "/api/time_reports/opened/"+{{id}},
          'success': function(json) {
            var array = JSON.parse("[" + json.timeavarage + "]")[0];
            console.log(array)
            barChartResponseTime(array[0], array[1], array[2], array[3], array[4], array[5], array[6], array[7], array[8], array[9])
          }
        });
        }
        function barChartResponseTime(a,b,c,d,e,f,g,h,i){
          new Chart(document.getElementById("bar-chart-vertical"), {
            type: 'bar',
            data: {
                labels: ["maintainance", "networking", "windows", "mac", "support", "electronics", "server", "hardware", "unix", "security", "software"],
                datasets: [
                  {
                    label: "time (hrs)",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#c45850", "#c45850", "#c45850", "#c45850", "#c45850", "#c45850"],
                    data: [a,b,c,d,e,f,g,h,i]
                }
              ]
            },
            options: {
              legend: { display: false },
              title: {
                display: true,
                text: 'Avarage Response Time(hrs)'
              }
            }
        });        
        }
        fetchBarResponse()

        
        function fetchBarResolution(){
          $.ajax({
          'url': "/api/time_reports/closed/"+{{id}},
          'success': function(json) {
            var array = JSON.parse("[" + json.timeavarage + "]")[0];
            console.log(array)
            barChartResolutionTime(array[0], array[1], array[2], array[3], array[4], array[5], array[6], array[7], array[8], array[9])
          }
        });
        }
        function barChartResolutionTime(a,b,c,d,e,f,g,h,i){
          new Chart(document.getElementById("bar-chart-time"), {
            type: 'bar',
            data: {
                labels: ["maintainance", "networking", "windows", "mac", "support", "electronics", "server", "hardware", "unix", "security", "software"],
                datasets: [
                  {
                    label: "time (hrs)",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#c45850", "#c45850", "#c45850", "#c45850", "#c45850", "#c45850"],
                    data: [a,b,c,d,e,f,g,h,i]
                }
              ]
            },
            options: {
              legend: { display: false },
              title: {
                display: true,
                text: 'Avarage Resolution Time(hrs)'
              }
            }
        });
        }
        fetchBarResolution()

      });
    </script>    
  <body>
      <div class="fakeloader"></div>
      <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
          <div class="container">
              <a href="/issues" class="previous round">&#8249;</a>
              <a class="navbar-brand" href="/issues">Ludaya</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle fa-2x" aria-hidden="true" ></i>{{name}}</a>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Change Password</a>
                      <a class="dropdown-item" href="#">Edit Profile</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{{ url_for('user.logout') }}">Logout</a>
                  </div>
                  </li>
              </ul>
          </div>
          </div>
        </nav>

        <header class="text-center" style="padding-top:100px;">
            <div class="masthead-content">
                <div class="container">
                    <div class="row align-items-center">

                          <div class="col-lg-3" style="padding-top:50px;">
                            <div class="card">
                              <div class="card-header">
                                Resolved Task
                              </div>
                              <div class="card-body">
                                {{task_count}}
                              </div>
                            </div>
                          </div>
                            
                          <div class="col-lg-3" style="padding-top:50px;">
                            <div class="card">
                              <div class="card-header">
                                Response Time
                              </div>
                              <div class="card-body">
                                {{response_avarage_time}} hrs
                              </div>
                            </div>
                          </div>
          
                          <div class="col-lg-3" style="padding-top:50px;">
                            <div class="card">
                              <div class="card-header">
                                Output Quality
                              </div>
                              <div class="card-body">
                                {{user_satisfaction}} / 10
                              </div>
                            </div>
                          </div>
          
                          <div class="col-lg-3" style="padding-top:50px;">
                            <div class="card">
                              <div class="card-header">
                                Resolution Time
                              </div>
                              <div class="card-body">
                                {{resolution_avarage_time}} hrs
                              </div>
                            </div>
                          </div>

                        <div class="col-lg-12  my-auto" style="padding-top:50px;">
                            <div class="col-lg-12  my-auto"><canvas id="line-chart" width="800" height="300"></canvas></div>
                        </div>
                        <div class="col-lg-12  my-auto" style="padding-top:50px;">
                            <div class="col-lg-12  my-auto"><canvas id="response-time-line-chart" width="800" height="300"></canvas></div>
                        </div>
                        <!--div class="col-lg-12  my-auto" style="padding-top:50px;">
                            <div class="col-lg-12  my-auto"><canvas id="output-quality-line-chart" width="800" height="300"></canvas></div>
                        </div-->
                        
                        <div class="col-lg-6  my-auto"><canvas id="bar-chart-vertical" width="800" height="450"></canvas></div>
                        <div class="col-lg-6  my-auto"><canvas id="bar-chart-time" width="800" height="450"></canvas></div>
                        
                        <!--div class="col-lg-12  my-auto" style="padding-top:50px;">
                                <div class="col-lg-12  my-auto"><canvas id="bar-chart-horizontal" width="800" height="300"></canvas></div>
                        </div-->
                        <div class="col-lg-12  my-auto" style="padding-top:50px;">
                            <div class="col-lg-12  my-auto">
                              <a href="" style="text-align: center">
                                <!--p align="center">This text will be center-aligned.
                                  <i class="fa fa-linkedin-square fa-2x"></i>
                                  <i class="fa fa-facebook-square fa-2x"></i>
                                </p-->
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
          
            <!-- Footer -->
        <footer class="py-5 bg-black">
            <div class="container">
              <p class="m-0 text-center text-white small">Copyright &copy; Ludaya 2018 <a href="#">  Privacy policy</a> <i class="fab fa-facebook-f fa-2x"></i>  <i class="fab fa-twitter fa-2x"></i>
            </div>
            <!-- /.container -->
          </footer>
          <script>
              $(document).ready(function(){
                  $(".fakeloader").fakeLoader({
                      timeToHide:1200,
                      bgColor:"#2ecc71",
                      spinner:"spinner6"
                  });
              });
          </script>
      
        </body>
      
  </html>
      