{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='new-age.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='simple-line-icons.css')}}">
    <link rel="stylesheet" href="static/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="https://use.fontawesome.com/9869ee428f.js"></script>
    <script type=text/javascript src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    <!-- <script type=text/javascript src="{{url_for('static', filename='popper.min.js') }}"></script> -->
    <script type=text/javascript>
        
        function getParameterByName(name, url) {
            if (!url) {
              url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        $(document).ready(function(){
          var query = getParameterByName('q');
          var taskList = [];
          var all = 0;

          function openTask(){
            //var fetchUrl;
            //if (!url){
              //  fetchUrl = '/api/tasks/{{my_task_category}}/{{id}}'
            //}else{
              //  fetchUrl = url
            //}
            //$.ajax({
              //  url: fetchUrl,
                //data: {
                //"q": query
                //},
                //method: "GET",
                //success: function(data){
                //taskList = data.items
                //parseTasks()
                //},
                //error: function(data){
                //console.log("error")
                //console.log(data)
                //}
            //})
            console.log('data')
          }

          
          function attachTask(taskKey, taskValue, prepend){
                  //var groups = taskValue.groups;
                  var key = taskKey;
                  var items = taskValue;
                  console.log(items)
                  var task_url = '/tasks/'+key
                  var taskHTMLFormat = "<li class=\"list-group-item\">"
                                        + "<a data-toggle=\"collapse\" href=\"" + "#"+items.id +"\" role=\"button\" aria-expanded=\"false\" aria-controls=\"collapseExample\">" + items.name + "</a>"
                                        + "</li>"
                                        + "<div class=\"collapse\" id="+ items.id +">"
                                        +    "<div class=\"card card-body\">"
                                        +        "<div class=\"modal-body\">"
                                        +                "<div class=\"form-group\">"
                                        +                    "<label for=\"recipient-name\" class=\"col-form-label\">Task Group:</label><label for=\"recipient-name\" class=\"col-form-label\">" + items.category +"</label></br>"
                                        +                    "<label for=\"recipient-name\" class=\"col-form-label\">Task Category:</label><label for=\"recipient-name\" class=\"col-form-label\">" + items.group + "</label></br>"
                                        +                    "<label for=\"recipient-name\" class=\"col-form-label\">Task:</label><label for=\"recipient-name\" class=\"col-form-label\">" + items.name + "</label></br>"
                                        +                "</div>"   
                                        +        "</div>"
                                        +        "<div class=\"modl-footer\">"
                                        +           "<form action=\"/new_tasks/"+items.id+"/open\" method=\"POST\">"    
                                        +               "<button type=\"submit\" class=\"btn btn-primary\">Open</button>"
                                        +           "</form>"
                                        +        "</div>"
                                        +    "</div>"
                                        +"</div>"
                  if(prepend ==true){
                    $("#task-list").prepend(taskHTMLFormat)
                  }else{
                    $("#task-list").append(taskHTMLFormat)
                  }
          }



          function parseTasks(){
            if (taskList == 0) {
              $("#task-container").text("No assigned task.")
            } else {
              // tasks exist, parse & display them
             $.each(JSON.parse(taskList), function(key, value){
                  var taskKey = key;
                  attachTask(key, value)
              })
            }
          }
        
          function fetchTasks(url){
            var fetchUrl;
            if (!url){
                fetchUrl = '/api/tasks/{{my_task_category}}/{{id}}'
            }else{
                fetchUrl = url
            }
            $.ajax({
                url: fetchUrl,
                data: {
                "q": query
                },
                method: "GET",
                success: function(data){
                taskList = data.items
                parseTasks()
                },
                error: function(data){
                console.log("error")
                console.log(data)
                }
            })
          }
          fetchTasks()

          

        });
        
    </script>
{% endblock %}

{% block title %}Ludaya{% endblock %}
<body id="page-top">
{% block content %}
    <header class="" style="background-color:#7b4397;background:url(../img/bg-pattern.png),linear-gradient(to left,#7b4397,#dc2430)">    
        <nav class="navbar  navbar-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Ludaya</a>
                </div>
                <ul class="nav navbar-nav">
                    <!-- <li class="active"><a href="#">Home</a></li> -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a onclick="openNav()"><span class="glyphicon glyphicon-menu-hamburger"></span>Menu</a>
                    </li>
                    <li>
                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span class="glyphicon glyphicon-user"></span> User</a>
                            <div class="dropdown-menu">
                                <div style="font-size:36px;color:gold;padding:10px;">
                                    <i class="fa fa-user-circle fa-5x" aria-hidden="true" ></i>
                                </div>
                                <a class="dropdown-item" href="#" style="padding:10px;">Action</a></br>
                                <a class="dropdown-item" href="#" style="padding:10px;">Another action</a></br>
                                <a class="dropdown-item" href="#" style="padding:10px;">Something else here</a></br>
                                <div class="dropdown-divider"></div>
                                <a href="#" style="padding:10px;"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                            </div>
                    </li>
                </ul>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </nav>
    </header>

    <section class="features" id="features" style="margin-top:-120px;">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>
        <div id="main">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card" style="background-color: rgba(245, 245, 245, 0.4);padding:10px;">
                        <div class="card-block">
                            <h3 class="card-title">{{my_task_category}} Tasks</h3>
                            <ul class="list-group" id="task-list">
                                                           
                            </ul>
                        </div>
                    </div>
                </div>
            </div>		
        </div>
    </section>
{% endblock %}
